body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}


main, header {
    background: #e7dfdd;
    color: black;
}

.profile-info, .profile {
    display: flex;
    flex-direction: column;
    border: #FAFAFA 1px solid;
    border-radius: 40px;
    margin-left: 4vw;
    padding: 20px;
}

.profile__name {
    line-height: normal;
    font-size: 6vw;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.info, .profile-info__title {
    font-size: xx-large;
    padding: 5px;
}

header {
    justify-content: space-around;
    width: 100%;
    display: flex;
}

.button {
    color: inherit;  
    transition: 1s ease-in-out;
    text-decoration: none;
    padding: 8px;
    border: #FAFAFA 1px solid;
    display: block;
    border-radius: 10px;
    font-size: xx-large;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    text-align: center;
}

.favor {
    padding: 40px;
}

header {
    padding-top: 5px;
}

footer {
    min-width: 100vw;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    min-height: 100px;
    justify-content: center;
    color: #FAFAFA;
}

.active {
    background: #FAFAFA;
    color: #171717;
}


@media screen and (max-width: 550px) {
    header {
      flex-direction: column;
    }
  }


.comment {
    max-width: 50vw;
    color: inherit;  
    transition: 1s ease-in-out;
    text-decoration: none;
    padding: 8px;
    border: #FAFAFA 1px solid;
    display: block;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
}
.swiper {
    width: 80%;
    margin: auto;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.swiper-button-next, .swiper-button-prev {
    color: #007BFF;
}