.table__title {
    background: gray;
}

.table__row:nth-child(2n) > .table__item{
    background-color: red ;
}

.table__row:nth-child(2n + 1) > .table__item{
    background-color: blue ;
}


#load {
    text-align: center;
    margin: 0;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.table__row {
    display: contents;
}

.table__item {
    padding: 5px;
}

footer {
    color: white;
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#resultContainer {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}