.table-title {
    background: gray;
}

.table-row:nth-child(2n) > .table-item{
    background-color: red ;
}

.table-row:nth-child(2n + 1) > .table-item{
    background-color: blue ;
}


#load {
    text-align: center;
    margin: 0;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.table-row {
    display: contents;
}

.table-item {
    padding: 5px;
}

footer {
    color: white;
}